# Documents
*.pdf filter=lfs diff=lfs merge=lfs -text

# Images
# 3D-printing (FreeCAD)
*.stl filter=lfs diff=lfs merge=lfs -text
*.step filter=lfs diff=lfs merge=lfs -text
*.FCStd* filter=lfs diff=lfs merge=lfs -text
# Schematics (KiCad)
*.kicad_pcb filter=lfs diff=lfs merge=lfs -text
*.pro filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.dcm filter=lfs diff=lfs merge=lfs -text
*.png text !filter !merge !diff
*.svg text !filter !merge !diff
*.jpg text !filter !merge !diff
*.jpeg text !filter !merge !diff
